<div class="container">

  <h1>Add Your Players</h1>

  <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @centers.order('name ASC'), :label => "Center" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>

  <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @powerforwards.order('name ASC'), :label => "Power Forward" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>



    <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @smallforwards.order('name ASC'), :label => "Small Forward" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>

    <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @shootingguards.order('name ASC'), :label => "Shooting Guard" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>

    <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @pointguards.order('name ASC'), :label => "Point Guard" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>

    <%= simple_form_for [@team, @team_player] do |f| %>
    <div class="search-form-control form-group">
      <%= f.association :player, collection: @sixthmen.order('name ASC'), :label => "6th Man" %>
      <%= f.submit "Create Player", class: 'btn btn-primary mt-2'%>
    </div>
  <% end %>






  <%= link_to 'Back', teams_path %>
</div>
