<div class="container">
  <div class="card-player">
    <%= image_tag "#{@player.photo}", alt: "#{@player.name}"%>
    <div class="card-player-infos">
      <h2><%= @player.name %></h2>
      <p><%= @player.position.capitalize %></p>
      <p>Shooting hand: <%= @player.shoots %></p>
      <p>Rating: <%= @player.rating %></p>
      <%= link_to "Back To Home", teams_path, class: "btn btn-flat card-delete" %>
    </div>
  </div>
</div>
